*{
    background: black;
    margin: 0;
    padding: 0;
}

.container img{
    width: 125px;
}

.container{
    font-size: 20px;
}

i{
    color: #555;
}

b{
    color: #fff;
    justify-content: space-around;
}